@model IEnumerable<CelovskiDvoriComparer.Web.Models.DetailModel>

<div class="row-fluid">
    <div class="span12">
        @foreach (var m in Model)
        {
            <div class="appartment-container">
                <div class="text-center badges">
                    @*<span class="badge code">@m.BasicDescription.Code</span>
                        <span class="badge price">@m.BasicDescription.Price EUR</span>*@
                    <span class="badge code">@m.Code</span>
                    <span class="badge code">@m.BasicInfo.Lamela</span>
                    <span class="badge squares">@m.Areas.CompleteArea / @m.Areas.UsableAreaSquares</span>
                    <span class="badge floor">@m.BasicInfo.Nadstropje nadstropje</span>
                    <span class="badge rooms">@m.BasicInfo.VrstaObjekta</span>
                    <a href="@m.OriginalUrl" target="_blank">
                            <span class="badge more">Več...</span>
                        </a>
                </div>
                <div class="sketch">
                    <img src="@m.SketchImageUri" alt="Looks like image is not available anymore" />
                </div>
                <table class="table narrow" style="display: none;">
                    <tbody>
                        @foreach (var detail in @m.Areas.Characteristics)
                        {
                            <tr>
                                <td>@detail.Item1</td>
                                <td>@detail.Item2</td>
                            </tr>
                        }
                        @foreach (var detail in @m.BasicInfo.Characteristics)
                        {
                            <tr>
                                <td>@detail.Item1</td>
                                <td>@detail.Item2</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>