@model IEnumerable<CelovskiDvoriComparer.Web.Models.CelovskiDvoriModel>

<div class="row-fluid">
    <div class="span12">
        @foreach (var m in Model)
        {
            <div class="inlineblock">
                <div class="text-center badges">
                    <span class="badge price">@m.BasicDescription.Price EUR</span>
                    <span class="badge squares">@m.BasicDescription.Squares m2</span>
                    <span class="badge floor">@m.BasicDescription.Floor nadstropje</span>
                    <span class="badge rooms">@m.BasicDescription.NrRooms</span>
                </div>
                <img src="@m.Detail.SketchImageUri" class="sketch" alt="Looks like image is not available anymore" />
                <div class="text-center">
                    <table class="table narrow">
                        <tbody>
                            @foreach (var detail in @m.Detail.Details)
                            {
                                <tr>
                                    <td>@detail.Key</td>
                                    <td>@detail.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        </div>
    </div>